/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
/*     color: #000;*/
/*     font-size: 12px;*/
     line-height: 1.4;
/*     font-family: Helvetica, Arial, sans-serif;*/
}


/******************************************
/* LAYOUT
/*******************************************/

.base-color {
  background-color: #f0efef;
}

/* Center the container */
.container {
  width: 960px;
  margin: auto;
}

header#navbar {
  width: 100%;
  background-color: #033048;
  padding: 15px 0;

}

.navbar-left {
  float: left;
}

.navbar-left h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 24px;
  color:  white;

}

.navbar-right {
  float: right;
}

.navbar-right ul {

}

.navbar-right ul li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  display: inline-block;
  color: #f9e42e;
  font-size: 16px;
  margin-left: 30px;
  line-height: 30px;

}

.column-left {
  width: 700px;
  float: left;
  margin-top: 50px;
}

.column-left h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #033048;
  margin-top: 20px;
  margin-bottom: 20px;
}

.top-image {

}

.initial-cap p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color:  #606161;
  margin-top: 10px;
}

.initial-cap span {
    float: left;
    width: 0.7em;
    font-size: 400%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 80%;
    color:  #606161;
    margin-right: 20px;
    margin-top: 10px;
}

.read-more {
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.read-more a {
  text-decoration: none;
}

.clearfix1 {
  clear: both;
  border-bottom: 1px solid #606161;
}
.column-right {
  width: 240px;
  float: left;
  margin-left: 20px
}

.column-right h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 26px;
  margin-top: 72px;
  margin-bottom: 15px;
  color: #033048;
}

.column-right ul {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #033048;
}

.side-paragraph {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #033048;
  line-height: 22px;
}

.learn-more {
  margin-top: 10px;
}

.learn-more a {
  color: #033048;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;

}

.container7 {
  background-color: white;
  margin-top: 20px;
  text-align: center;
}

.container7 h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 500px;
  color: #033048;

}


.clearfix2 {
  clear:  both;
}

.sign-up {
  margin-top: 80px;
  width: 100%;
  background-color: #f9e42e;
  padding: 30px 0;
  text-align: center;

}

.sign-up button {
  text-decoration: none;
  background-color: #033048;
  border-radius: 5px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 40px;
  text-align: center;
  color: white;
}

footer {
  background-color: black;
  width: 100%;
  text-align: center;
}

.container6 {
  padding: 40px;
}

.container6 a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 36px;
  color:  #f9e42e;
  text-decoration: none;

}

.logos {

}

.logos ul {
  display: inline-block;
  margin: 20px;
}

.logos ul li {
  float: left;
  padding: 15px;
}

.clearfix2 {
  clear:  both;
}

.copyright {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 10px;
  color:  white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
footer {

}



